<?xml version="1.0" encoding="utf-8"?>
<routeMapping>
  <routes>
    <add url="aa" controller="Login" action="Login" name="Home"/>
    <add url="{controller}/{action}" controller="Home" action="Index" name="ControllerAction" />
    <add url="{controller}/{action}/" controller="Home" action="Index" name="ControllerAction1" />
  </routes>
</routeMapping>