<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UserWrite" connectionString="Data Source=ADMIN-PC;Initial Catalog=HuiAsk_User;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LogWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Log;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="PicWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Pic;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="PicTempWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Pic_Tmp;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="HiWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Hi;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="SysWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Sys;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="TaskWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Task;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="SosoWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Pic_So;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="StatWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Stat;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="EventWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Event;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="PicTsaWrite" connectionString="Data Source=ADMIN-PC;User ID=sa;Password=huitu168!;Initial Catalog=HuiTu_Pic_Tsa;Pooling=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers accessPolicy="Read, Script">
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
      <remove name="WebDAV"/>
    </handlers>
  </system.webServer>
</configuration>